/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* above is reset css code*/

/* 共用 */
br {
  width: 1200px;
}

.container {
  width: 1920px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.container-center {
  top: 0px;
  width: 1200px;
  margin: 0 auto;
}

.title {
  text-align: left;
  font: normal normal medium 32px/48px PingFang TC;
  font-size: 32px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  line-height: 48px;
}

h1 {
  text-align: left;
  font: normal normal normal 80px/95px SF Pro Text;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  line-height: 95px;
}

h2 {
  margin-bottom: 16px;
}

span {
  text-align: left;
  font: normal normal 600 24px/29px SF Pro Text;
  font-size: 24px;
  letter-spacing: 0px;
  color: #a00404;
  opacity: 1;
  line-height: 29px;
}

img {
  margin-top: 48px;
  margin-bottom: 48px;
  display: block;
}

li {
  line-height: 36px;
  font-size: 24px;
  text-align: left;
  font: normal normal 300 24px/36px PingFang TC;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

ul {
  margin-bottom: 72px;
}

hr {
  width: 1200px;
}

.profile li {
  padding-bottom: 24px;
}

.education li {
  padding-top: 16px;
}
/* skills 技能 */
.skill {
  background: #415165 0% 0% no-repeat padding-box;
  opacity: 1;
  top: 1286px;
  left: 360px;
  width: 1200px;
  padding-bottom: 40px;
  margin-bottom: 72px;
}
.skill-inner {
  font: normal normal medium 32px/45px PingFang TC;
  letter-spacing: 0px;
  color: #ffffff;
  /* width: 30%; */
  padding-top: 40px;
  /* padding-bottom: 52px; */
  padding-left: 516px;
  padding-right: 492px;
  text-align: center;
}

.skill hr {
  width: 996px;
  color: #ffffff;
}

.skill-link-left {
  border-left: 1px solid #96a9c4;
  width: 0px;
  height: 327px;
  top: 1404px;
  left: 852px;
}

.skill-link-left li {
  padding-left: 24px;
  line-height: 48px;
  font-size: 24px;
  color: #ffffff;
  width: 200px;
}

.skill h2 {
  color: #ffffff;
  text-align: center;
  padding-top: 24px;
}

.skill span {
  padding-left: 16px;
  color: #ffffff;
}

/* experience 工作經驗 */
.experience img {
  margin-top: 8px;
  margin-bottom: 8px;
  display: block;
}

.experience li {
  font-size: 24px;
  padding-top: 32px;
  line-height: 36px;
  font: normal normal medium 24px/36px PingFang TC;
  text-align: left;
  font: normal normal medium 24px/36px PingFang TC;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

/* contact 聯絡資料 */
.contact {
  background: #415165 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: left;
}

.contact ul {
  padding-bottom: 48px;
}
.contact li {
  text-align: center;
  padding-top: 20px;
  color: #ffffff;
}

.contact h2 {
  color: #ffffff;
  text-align: center;
  padding-top: 24px;
}

.contact span {
  padding-left: 16px;
  color: #ffffff;
  text-align: left;
  font: normal normal medium 24px/29px SF Pro Text;
  letter-spacing: 0px;
  opacity: 1;
}

.contact embed {
  padding-right: 24px;
}
